.collectionScreen {
  display: grid;
  grid-template-columns: 100%;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.topZone {
  --topbar-height: 100%;
  min-height: 0;
  overflow: hidden;
}

.contentZone {
  min-height: 0;
  overflow: hidden;
}

.bottomZone {
  --bottombar-height: 100%;
  min-height: 0;
  overflow: hidden;
}
